.rules-list-wrapper{width:80% ;margin:5rem auto; display:flex ;flex-direction:column ;gap:2rem;align-items:center; 
    padding:40px;
    background-Color:#f9f9f9;border-radius:8px;box-Shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;}