.training-card {
  margin-top: 10rem;
  width: 25%;
  margin: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  height: 32rem;
}

.training-card:hover {
  transform: scale(1.05);
}

.training-card {
  text-align: center !important;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
